<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/vazy-logo.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>About Vazy Mobile</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        At Vazy Mobile, our love for fashion defines who we are and what we do. Our unique online rental service brings latest fashion to you conveniently.
We believe every one has the right to look good — at all times. You may not be a celebrity. So what? You sure can dress like one! At Vazy Mobile, we take great joy in helping you get easy access to fashion around you.
      </p>
      
    </ion-card-content>
  </ion-card>

</ion-content>
