
<ion-content>
    <ion-slides (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
      <ion-slide>
        <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
          <ion-icon name="hand" color="primary"></ion-icon>
        </div>
        <div IonSlides>
          <h2>Welcome to Vazy Mobile</h2>
          <p>Your First step will be to complete your profile</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
          <ion-icon ios="ios-trophy" md="md-trophy" color="primary" IonSlides></ion-icon>
        </div>
        <div IonSlides>
          <h2>set personal goals</h2>
          <p>we're all in the gym for a reason: goals. set goals for diet and fitness.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
          <ion-icon ios="ios-chatboxes" md="md-chatboxes" color="primary" IonSlides></ion-icon>
        </div>
        <div IonSlides>
          <h2>chat with others</h2>
          <p>inspire and help each other reach fitness and diet goals.</p>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-button shape="round" (click)="skip()" id="skip">
      Let's Get Started
    </ion-button>
  </ion-content>
  