<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700"></ion-text>
          </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="light" (click)="cart()">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="card-background-page">
  
    <ion-card>
      <img src="assets/img/cat/Accessories.jpg"/>
      <div class="card-title my-3">Accessories</div>
      <div class="card-subtitle">41 Listings</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/cat/Dresses.jpg"/>
      <div class="card-title my-3">Dresses</div>
      <div class="card-subtitle">64 Listings</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/cat/Jewellery.jpg"/>
      <div class="card-title my-3">Jewellary</div>
      <div class="card-subtitle">72 Listings</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/cat/Pants.jpg"/>
      <div class="card-title my-3">Jeans</div>
      <div class="card-subtitle">28 Listings</div>
    </ion-card>
  
  </ion-content>