<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700"></ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="light" (click)="cart()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="card-background-page">

  

    <ion-card>

        <ion-item>
          
          <h2>Marty McFly</h2>
          
        </ion-item>

        <ion-item>
          
            <p>Date : 22/04/2019 </p>
            
          </ion-item>
      
       
      
        <ion-card-content>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>
      
        <ion-row>
         
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
          <ion-col align-self-center text-center>
              <ion-note>
                View details
              </ion-note>
            </ion-col>
        </ion-row>
      
      </ion-card>
      <ion-card>

          <ion-item>
            
            <h2>Order for Red Dress</h2>
            
          </ion-item>
  
          <ion-item>
            
              <p>Date : 22/04/2019 </p>
              
            </ion-item>
        
         
        
          <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
          </ion-card-content>
        
          <ion-row>
           
            <ion-col align-self-center text-center>
              <ion-note>
                11h ago
              </ion-note>
            </ion-col>
            <ion-col align-self-center text-center>
                <ion-note>
                  View details
                </ion-note>
              </ion-col>
          </ion-row>
        
        </ion-card>
</ion-content>